<div class="indexContainer"><img class="homePicture" src="http://www.westminster-church.org/assets/images/library.jpg" /></div>
<div class="globalSearch">
    <form class="" action="/results" method="GET">
        <label class="searchLabel" for="search">Enter Book Title or Author Name
            <input class="globalSearchBox"type="text" name="query" id="search" placeholder="Book title/Author Name">
        </label>
        <select class="toggle" name="toggle">
            <option value="author">Author</option>
            <option value="book">Book</option>
        </select>
        <input class="globalSearchSubmit" type="submit" name="name" value="Submit">
    </form>
</div>
