<div class="indexContainer"><img class="homePicture" src="https://www.timeshighereducation.com/sites/default/files/styles/the_breaking_news_image_style/public/istock_000075557797_small.jpg?itok=vXcxOhBk" /></div>
<form class="" action="/results" method="GET">
    <label for="search">Search for books or authors
        <input type="text" name="query" id="search">
    </label>
    <select class="" name="toggle">
        <option value="author">Author</option>
        <option value="book">Book</option>
    </select>
    <input type="submit" name="name" value="Submit">
</form>
