<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <a href="/"><div class="logo">
            <img class="logoImage" src="http://previews.123rf.com/images/cidepix/cidepix1007/cidepix100700120/7276492-Cartoon-orange-book-isolated-on-white-Stock-Vector-book-logo-icon.jpg" />
            <h1>Galvanize Reads</h1>
        </div></a>
        <div class="links">
            <a href="/book/page/0">Books</a>
            <a href="/author/page/0">Authors</a>
        </div>
    </header>
    {{{body}}}
  </body>
</html>
