<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css' />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <nav class="header">
                <a href="/" class="brand-logo">
                    <img class="logoImage" src="https://brandfolder.com/galvanize/assets/4q8xd3ky/galvanize_galvanize-logo-text-logo_logo.png" />
                    <h1>Galvanize Reads</h1>
                </a>
                <div class"linksDiv">
                    <a class="links headerButton" href="/book/page/0">Books</a></li>
                    <a class="links headerButton" href="/author/page/0">Authors</a></li>
                </div>
        </nav>
    {{{body}}}
  </body>
</html>
