h2 {
    position: relative;
    top: 20%;
    font-size: 2rem;
}

.books {
    position: relative;
    top: 25%;
}

.book {
    margin-top: 1.5rem;
    margin-left: 1rem;
}

a:visited {
    color: $galvanize-primary;
}

.addabook {
    position: relative;
    bottom: 5%;
}

input, label {
    display: block;
    margin-top: 2rem;
    margin-left: 2rem;
}
