@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Muli);
:root {
  font-size: 1vw; }

.header {
  background-color: #696969; }

h1 {
  position: relative;
  display: inline-block;
  width: 20%;
  font-size: 2.5rem;
  margin-left: 1rem;
  font-family: Merriweather;
  color: #F8901F;
  top: 5%; }

.logo {
  padding: 0.5rem; }

.logoImage {
  display: inline-block;
  width: 5%;
  height: auto;
  margin: 0px; }

.links {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.links a {
  color: #F8901F;
  margin-right: 2rem; }

.headerButton {
  color: #F8901F; }

body {
  font-family: Muli; }

h2 {
  position: relative;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  font-family: Merriweather; }

a {
  text-decoration: none; }
  a:visited {
    color: blue;
    text-decoration: none; }

.homePicture {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -2; }

.books {
  position: relative;
  top: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 3%; }

.authors {
  position: relative;
  top: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 3%; }

.book {
  border: 1px solid black;
  margin-top: 1.5rem;
  margin-left: 1rem;
  width: 25%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: lightgrey;
  box-shadow: 3px 3px rgba(128, 128, 128, 0.4); }

.author {
  border: 1px solid black;
  margin-top: 1.5rem;
  margin-left: 1rem;
  width: 25%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: lightgrey;
  box-shadow: 3px 3px rgba(128, 128, 128, 0.4); }

.addabook {
  position: relative;
  bottom: 5%; }

input, label {
  display: block;
  margin-top: 2rem;
  margin-left: 2rem; }

.bookPicture {
  height: 40%;
  width: 40%;
  left: 30%;
  margin-bottom: 2rem; }

.bookPictureBig {
  height: 80%;
  width: 100%;
  margin-bottom: 2rem; }

.authorPicture {
  height: 40%;
  width: 40%;
  left: 30%;
  margin-bottom: 2rem; }

.authorPictureBig {
  height: 80%;
  width: 100%;
  margin-bottom: 2rem; }

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem; }

.authorName {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem; }

.description, .biography {
  margin-bottom: 2rem; }

.edit {
  margin-top: 2rem; }

.edit, .remove {
  display: inline-block;
  font-size: 2rem; }

.bookAmount, .authorAmount {
  margin-bottom: 4rem; }

.addBook, .addAuthor {
  border: 1px solid black;
  background-color: #40bf40;
  padding: 2rem;
  color: black;
  text-decoration: none;
  margin-left: 2rem;
  margin-bottom: 100px; }
  .addBook:visited, .addAuthor:visited {
    text-decoration: none;
    color: black; }

.details {
  position: relative;
  left: 35%;
  border: 1px solid black;
  margin-top: 1.5rem;
  margin-left: 1rem;
  width: 25%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: lightgrey;
  box-shadow: 3px 3px rgba(128, 128, 128, 0.4); }

.genre {
  margin-bottom: 2rem; }

.globalSearch {
  position: relative;
  background-color: #696969;
  width: 20%;
  padding: 1.5rem;
  left: 27%;
  top: 20vh;
  box-shadow: 3px 3px rgba(128, 128, 128, 0.2); }

.searchLabel {
  font-weight: bold;
  font-size: 2rem; }

.toggle {
  position: relative;
  left: 33%;
  margin-top: 1.5rem; }

.globalSearchSubmit {
  position: relative;
  left: 10%;
  width: 52%; }

/*# sourceMappingURL=style.css.map */